@model WebApplication1Heritage.Models.Accueil
@{
    ViewBag.Title = "Accueil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

/<h2>Les differentes écoles</h2>
<div>
    <ul>
        <li><a href="#">Imam Malicke</a></li>
        <li><a href="#">Imam Bouhary</a></li>
        <li><a href="#">Imam Shafy</a></li>
        <li><a href="#">Imam Ahmad</a></li>
        <li><a href="#">Accord des 4 imams</a></li>
    </ul>
</div> 

